@import url(start.css);
h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.wrap {
  width: 480px;
  height: 550px;
  border: solid 4px rgb(94, 90, 90);
  margin: 0 auto;
  background: linear-gradient(to bottom, rgb(206, 220, 231) 0%, rgb(89, 106, 114) 100%);
  box-shadow: 3px 3px 5px;
  border-radius: 5px;
  margin-top: 10px;
}

.container {
  margin-top: 40px;
  padding: 10px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  flex: 1;
  height: 60px;
}

.first-number {
  border: solid 2px black;
  width: 50%;
  margin-right: 3px;
  padding: 10px;
  font-size: 17px;
  transition: 0.15s;
}
.first-number:hover {
  background-color: rgba(203, 219, 219, 0.231);
}
.first-number:active {
  background-color: rgba(238, 241, 241, 0.778);
}

.second-number {
  border: solid 2px black;
  width: 50%;
  margin-left: 3px;
  padding: 10px;
  font-size: 17px;
  transition: 0.15s;
}
.second-number:hover {
  background-color: rgba(203, 219, 219, 0.231);
}
.second-number:active {
  background-color: rgba(238, 241, 241, 0.778);
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex: 1;
  height: 70px;
  margin-bottom: 20px;
  margin-top: 30px;
  color: rgb(75, 70, 70);
}

.buttons2 {
  display: flex;
  justify-content: space-between;
  flex: 1;
  height: 70px;
  color: rgb(75, 70, 70);
}

.plus {
  border: solid 2px black;
  border-radius: 10px;
  width: 50%;
  margin-right: 3px;
  font-size: 30px;
  transition: 0.15s;
}
.plus:hover {
  background-color: rgba(32, 194, 46, 0.992);
  box-shadow: 3px 3px 5px;
}
.plus:active {
  background-color: rgba(4, 84, 11, 0.81);
}

.minus {
  border: solid 2px black;
  border-radius: 10px;
  width: 50%;
  font-size: 40px;
  padding-bottom: 5px;
  transition: 0.15s;
}
.minus:hover {
  background-color: rgb(230, 22, 22);
  box-shadow: 3px 3px 5px;
}
.minus:active {
  background-color: rgba(117, 19, 32, 0.984);
}

.times {
  border: solid 2px black;
  border-radius: 10px;
  width: 50%;
  margin-right: 3px;
  font-size: 30px;
  padding-top: 7px;
  transition: 0.15s;
}
.times:hover {
  background-color: rgb(30, 207, 207);
  box-shadow: 3px 3px 5px;
}
.times:active {
  background-color: rgba(27, 174, 174, 0.763);
}

.divide {
  border: solid 2px black;
  border-radius: 10px;
  width: 50%;
  font-size: 30px;
  transition: 0.15s;
}
.divide:hover {
  background-color: rgb(234, 227, 21);
  box-shadow: 3px 3px 5px;
}
.divide:active {
  background-color: rgba(192, 178, 17, 0.778);
}

.button-result {
  border: solid 2px black;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
  height: 60px;
  color: rgb(75, 70, 70);
  transition: 0.15s;
}
.button-result:hover {
  background-color: rgba(198, 201, 201, 0.982);
  box-shadow: 3px 3px 5px;
}
.button-result:active {
  background-color: rgba(26, 29, 29, 0.437);
}

.equal {
  text-align: center;
  border: solid 2px black;
  margin-top: 30px;
  height: 80px;
  font-size: 20px;
  letter-spacing: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(232, 229, 229);
}

h2 {
  margin-bottom: 15px;
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */